body {
  margin: 0;
}
mapbox {
  display: block;
  height: 100vh;
}

mapbox > div {
  height: 100%;
}
.mapboxgl-map {
  min-height: 100%!important;
}

.box {
    position: absolute;
    z-index: 10;
    top: 1em;
    background: #ecece0;
    padding: 1em;
    width: 17%;
    left: 1em;
    box-shadow: 7px 9px 20px #bbb;
}

.box h2 {
    border-bottom: 1px solid #cecebe;
    padding-bottom: .5em;
}

.box img {
  width: 100%;
}